
/* jetbrains */
@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-ExtraLight.ttf') format('ttf'),
        url('JetBrainsMonoNL-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-ExtraBoldItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-ExtraBoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
} 

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-LightItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-Light.ttf') format('ttf'),
        url('JetBrainsMonoNL-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-ExtraLightItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-ExtraBold.ttf') format('ttf'),
        url('JetBrainsMonoNL-ExtraBold.ttf') format('ttf');
    font-weight: 300;
    font-style: Bold;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-Italic.ttf') format('ttf'),
        url('JetBrainsMonoNL-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-Medium.ttf') format('ttf'),
        url('JetBrainsMonoNL-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-ThinItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-MediumItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-SemiBold.ttf') format('ttf'),
        url('JetBrainsMonoNL-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-Thin.ttf') format('ttf'),
        url('JetBrainsMonoNL-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: thin;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-Regular.ttf') format('ttf'),
        url('JetBrainsMonoNL-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoNL';
    src: url('JetBrainsMonoNL-SemiBoldItalic.ttf') format('ttf'),
        url('JetBrainsMonoNL-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}